body {
    font-family: "Kanit";
    margin:0;
    overflow:auto;
}
.main{
    background-color:dimgrey;
}
a{
    text-decoration:none;
    color:white;
}
.nav{
    background-color:black;
    width:99%;
    height:6rem;
    display:flex;
    align-items:center;
    margin-left:0.4rem;
    flex-wrap:wrap;
}
.banner {
    margin-bottom: 1.5rem;
    width: 20%;
    height: 50%;
    margin-top: 2rem;
}
.nav-controls{
    font-size:1.1rem;
    margin-left:2.5rem;
    padding:0 2rem 0 2rem;
}
.drops{
    font-size:1rem;
    background-color:black;
    border:none;
    color:white;
    margin-left:0.7rem;
    text-align:end;
}
.pic {
    height: 4rem;
    width: 4rem;
    text-align: end;
    margin-left: 16rem;
}
.me{
    color:white;
    display:flex;
    flex-direction:column;
    text-align:end;
}
@media(max-width:715px){
    .nav-controls{
        display:none;
    }
}
.search{
    background-color:transparent;
    height:3rem;
    margin-top:0.5rem;
    display:flex;
    flex-wrap:wrap;
}
.search-bar{
    background-color:#232323;
    height:2rem;
    width:90%;
    margin-left:1rem;
    color:white;
    font-size:1rem;
    font-weight:400;
    border:2px solid white;
}
.search-btn {
    background-color: yellow;
    height: 2.5rem;
    width: 7%;
    border-radius: 0.7rem;
    font-weight: 700;
    cursor: pointer;
}
.btns {
    background-color: #232323;
    width: 99%;
    height: 8rem;
    margin-left: 0.4rem;
}
.btns-upper{
    display:flex;
    justify-content:center;
}
.up-btn {
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: 0.7rem;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.btns-lower{
    display:flex;
    justify-content:center;
}
.dn-btn {
    height: 2rem;
    width: 5.8rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 0.8rem;
    background-color:orangered;
    color: white;
    margin-top: 1rem;
    margin-left: 0.2rem;
    cursor:pointer;
}
.end{
    height:1rem;
    background-color:black;
    width:99%;
    margin-left:0.4rem;
    padding-top:1.5rem;
}
.line {
    border-top: 2px solid white;
}
.card-area {
    background-color: black;
    height: auto;
    width: 99%;
    margin-left: 0.4rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card{
    height:27rem;
    width:15rem;
    background-color:#232323;
    border-radius:1.25rem;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:0.5rem;
}
.card-img {
    height: 19rem;
    width: 14rem;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    border-radius: 1.25rem;
}
.card-title{
    padding-left:0.5rem 1rem;
    margin-top:0.5rem;
    margin-left:0.6rem;
}
.page {
    background-color: #232323;
    width: 99%;
    margin-left: 0.4rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0 0 0.4rem 0.4rem;
}
.page-btn {
    height: 2.7rem;
    width:3rem;
    margin-left:0.7rem;
    border-radius:0.4rem;
    background-color:yellow;
    color:black;
    font-weight:600;
    cursor: pointer;
}
.page-btn1 {
    height: 2.7rem;
    width: 3rem;
    margin-left: 0.7rem;
    border-radius: 0.4rem;
    border:2px solid white;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
}
.page-btn2 {
    height: 2.7rem;
    width: 5rem;
    margin-left: 0.7rem;
    border-radius: 0.4rem;
    background-color: yellow;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.footer{
    background-color:#2d0000;
    width:99%;
    margin-left:0.4rem;
    height:5rem;
    text-align:center;
    color:white;
    border-top:2px solid white;
}
.credit {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}
