<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
	<link href="/newStyle.css"rel="stylesheet">
</head>
<body>
	<h1>Add new Post</h1>
	<form method="POST" action="/posts">
	<input placeholder="Enter Name" name="username"/><br/><br/>
	<textarea placeholder="Enter Content" name="content"></textarea><br/>
	<button>Submit</button>
	</form>
</body>
</html>