<!DOCTYPE html>
<html>
<head>
	<title>Show Post</title>
	<link href="/showStyle.css"rel="stylesheet">
</head>
<body>
	<h3>Here is the Detailed Post: </h3>
	<p>Post ID: <%=post.id%></p>
	<div class="post">
	<p class="user">Username: <%=post.username%></p>
	<p class="content">Content: <%=post.content%></p>
	</div>
</body>
</html>