* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
}
#calculator{
    border:1px solid #717377;
    background:transparent;
    box-shadow:1px 3px 15px rgba(113,115,119,0.5);
    border-radius:16px;
    padding:20px;
}
input{
    width:320px;
    height:100px;
    margin:10px;
    background:transparent;
    border:none;
    text-align:right;
    cursor:pointer;
    box-shadow:1px 3px 15px rgba(84,84,84,0.1);
    font-size:40px;
    color:white;
}
input::placeholder{
    color:white;
}
button{
    border:none;
    height:60px;
    width:60px;
    margin:10px;
    border-radius:50%;
    background:transparent;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    color:white;
    font-size:20px;
    cursor:pointer;
}
.equal {
    background-color: #fb7c14;
}
.operator{
    color:#6dee0a;
}
.operator1 {
    color: red;
}
h6 {
    color: white;
    text-align:center;
    padding-top:15px;
}
a{
    text-decoration:none;
    color:orange;
}