*{
    margin:0;
    padding:0;
    font-family:'Times New Roman';
}
.main_box{
    background:url("photo.jpg");
    height:100vh;
    background-size:cover;
}
.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position:fixed;
    left:-350px;
    height:100vh;
    width:300px;
    background-color:rgba(255,255,255,0.1);
    box-shadow:0 0 6px rgba(255,255,255,0.5);
    transition:all 0.3s linear;
}
.logo {
    position: absolute;
    width: 100%;
    line-height:60px;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
    height:55px;
}
.logo a{
    position:absolute;
    left:50px;
    color:white;
    text-decoration:none;
    font-size:25px;
    font-weight:500;
}
.btn_two i {
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}
.menu{
    color:white;
    position:absolute;
    top:60px;
    width:100%;
    
}
.menu li{
    margin-top:6px;
    padding:10px 20px;
}
.menu a,i{
    color:white;
    font-size:20px;
    text-decoration:none;
}
.menu i{
    padding-right:8px; 
}
.social_media i{
    color:white;
    opacity:0.5;
    padding:0 5px;
}
.social_media{
    position:absolute;
    left:25%;
    bottom:60px;
}
.main_box input {
    display:none;
}
.menu li:hover {
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}
.btn_one i:hover{
    font-size:35px;
}
.btn_two i:hover{
    font-size:30px;
}
.social_media i:hover{
    transform:scale(1.1);
    opacity:1;
}
#check:checked ~ .sidebar_menu{
    left:0;
}
#check:checked ~ .btn_one i{
    opacity:0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity:100;
}