#card{
    width:200px;
    height:200px;
    border:2px solid black;
    transform:translate(100px, -60px);
    display:inline-block;
    transition:1s;
}
#card:hover{
    background-image:url("Pic.jpg");
    background-size:cover;
    border-radius:50%;
}
#name{
    display:inline-block;
    transform:translateY(20px);
}
#see{
    transform:translate(30px,200px);
}
*{
    background-color:rgb(74, 172, 158);
    
}